{% extends "_layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Mirror</h1>
    <p>魔界管理后台</p>
</div>

<div class="container">
    <div class="row" >
        <div class="col-sm-4 text-center" id="block_sku">
            <h3>SKU</h3>
            <p>管理商品款式、颜色...</p>
        </div>
        <div class="col-sm-4 text-center" id="block_product">
            <h3>商品信息</h3>
            <p>商品描述、图片...</p>
        </div>
        <div class="col-sm-4 text-center" id="block_count">
            <h3>统计与分发</h3>
            <p>数据分析与生成</p>
        </div>
    </div>
</div>

{% endblock %}